.user-page {
    width: 60%;
    color:white;
    margin: 3rem auto;
}

.profile-image{
    width: 25rem;
    height: 25rem;
    border-radius: .4rem;
}


.profile-section-all {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    background-color: rgba(5, 8, 58, 0.93);  
    padding: 2rem;
    border-radius: .4rem;

}

.profile-image-section {
    justify-self: center;
    align-self: center;
}

.profile-information-section {
    padding: 0.3rem;
    display: grid;
    grid-template-columns: 1fr 3fr ;
    border-radius: .4rem;

}

.profile-info-item {
    margin: 0.3rem;
    font-size: 1.2rem;
    border-radius: .4rem;

}


.profile-info-item:nth-child(2n+1) {
    justify-self: center;
}

.profile-info-item:nth-child(2n) {
    align-self: center;
    padding: 0.4rem 1rem;
    background-color: rgba(29, 39, 243, 0.452);
    margin-left: -1rem;
}


.social-image {
    height: 60px;
    border-radius: 50%;
    justify-self: center;

}
.social-img {
    height: 4rem;
    padding: .1rem;
    border-radius: 50%;
}