{% extends "auction/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


{% for user in profile_users%}

<div class="public-profile-page" id="public-profile-page">
  
  
<!-- PROFILE IMAGE AND CONTACT INFORMATION  -->
  <div class="user-image-and-info">
    
    <!-- PROFILE IMAGE -->
    <!-- <div class="user-image">
      <img class="user-image-img" src="{{ user.profile.image.url }}" alt="">
    </div> -->

    <div class="user-image">
      <img class="user-image-img" src="{{ user.profile.image.url }}" alt="">
      <div class="profile-info">
        <h5 class="profile-text">{{ user.profile.profile_info |safe }}</h5>
      </div>
  </div>

    <!-- CONTACT DETAILS -->
    <div class="user-contact-details">

      <div class="user-contact-line">
        <div class="profile-page-icon"><img class="social-img" src="/static/user.png" alt=""></div>
        <div class="profile-page-data" id="username">{{ user.username }}</div>
      </div>
      <div class="user-contact-line">
        <div class="profile-page-icon"><img class="social-img" src="/static/email.png" alt=""></div>
        <div class="profile-page-data">{% if user.profile.email %}{{ user.profile.email }}{% else %} &nbsp {% endif %}</div>
      </div>
      <div class="user-contact-line">
        <div class="profile-page-icon"><img class="social-img" src="/static/phone.png" alt=""></div>
        <div class="profile-page-data">{% if user.profile.phone %}{{ user.profile.phone }}{% else %} &nbsp {% endif %}</div>
      </div>
      <div class="user-contact-line">
        <div class="profile-page-icon"><img class="social-img" src="/static/facebook.jpg" alt=""></div>
        <div class="profile-page-data"> {% if user.profile.facebook %}{{ user.profile.facebook|truncatechars:50 }} {% else %} &nbsp {% endif %} </div>
      </div>
      <div class="user-contact-line">
        <div class="profile-page-icon"><img class="social-img" src="/static/instagram.png" alt=""></div>
        <div class="profile-page-data">{% if user.profile.instagram %}{{ user.profile.instagram|truncatechars:50 }}  {% else %} &nbsp  {% endif %}</div>          
      </div>
      <div class="messaging-page-input-area ml-2 mt-2">
        {% csrf_token %}
        <input type="text" name="message_input_{{user.id}}" maxlength="280" class=" textInput form-control" required="" sender="{{user.id}}" id="sender-{{user.id}}"> 
        <button class="btn btn-primary send-message-button ml-1" 
        style="box-shadow: rgba(3, 7, 59, 0.15) 0px -2px 5px 0px inset,
        rgba(3, 7, 59, 0.3) 0px -5px 9px 0px inset; 
        /* rgba(3, 7, 59, 0.4) 0px -7px 11px 0px inset; */
       border-radius: .9rem; font-weight: 700; border:none;" id="{{user.id}}" type="submit">Send DM</button>
      </div>
    </div>
  </div>
<!-- PROFILE IMAGE AND CONTACT INFORMATION  -->




{% for user1 in profile_users %}
<!-- USER'S VEHICLES -->

  <div class="user-vehicles">
    {% if user1.vehicle_set.count > 2 %}
    <h4 style="color: white; margin-left: 2rem;">Vehicles 
      <a href="{% url 'auction:uservehicles' user.username %}" class="btn btn-primary" 
      style="box-shadow: rgba(3, 7, 59, 0.15) 0px -2px 5px 0px inset,
      rgba(3, 7, 59, 0.3) 0px -5px 9px 0px inset; 
      /* rgba(3, 7, 59, 0.4) 0px -7px 11px 0px inset; */
      border-radius: .9rem; font-weight: 700; border:none;
      margin-left: 1.7rem;"
      role="button" aria-pressed="true" 
      id="auction-view-button" type="submit">Vehicles View</a></h4>
    
      <div>
        {% for vehicle in user1.vehicle_set.all %}
          {% if not vehicle.vehicle_type == "WALK" %}
            {% if not vehicle.vehicle_type == "RUN" %}
          <div class="vehicle-line"> 
            <div class="vehicle-icon">
              <img src="{{vehicle.v_image.url}}" alt="">
            </div>
            <div>{{vehicle.v_name | title |truncatechars:24}}  </div>
            <div>{{vehicle.vehicle_type |title}} for {{vehicle.v_capacity}} persons</div>
            <!-- <div> </div>         -->
            <div>
              <a href="{% url 'auction:vehicle_detail' vehicle.id %}" 
              class="btn "
              style="
                border-radius: .9rem; font-weight: 700; font-size: 1.2rem;" role="button" aria-pressed="true">🔎</a>
            </div>
          </div>
            {% endif %}
          {% endif %}
      {% endfor %}
    </div>
    {% endif %}
    <!-- </div> -->
<!-- USER'S VEHICLES -->




<!-- USER'S VOYAGES -->
  <!-- <div class="user-voyages"> -->
    <br>


    <h4 id="voyages" style="color: white; margin-left: 2rem;"> </h4>


          {% for vehicle in user1.vehicle_set.all %}
              {% for auction in vehicle.auction_set.all %}
              <div class="voyage-line">
                  <div class="voyage-icon">
                    <img src="{{auction.auctionImage.url}}" alt="">
                  </div>
                  <div>
                    <span style="color: #0069D9;">{{ auction.auction_title | title |truncatechars:24}}
                    </span>
                     <!-- for 
                    <span style="color: #0069D9;">{{ auction.vacancy }} 
                    </span>
                    people  -->
                    {% if auction.vehicle.vehicle_type == "WALK" %}
                    by
                  {% endif %}
                  {% if auction.vehicle.vehicle_type == "RUN" %}
                  by
                  {% endif %}
                  {% if not auction.vehicle.vehicle_type == "WALK" %}
                  {% if not auction.vehicle.vehicle_type == "RUN" %}
                  on 
                  {% endif %}
                  {% endif %}

                    <span style="color: #0069D9">{{ auction.vehicle.v_name | title | truncatechars:18 }}
                    </span>
                    from 
                    <span style="color: #0069D9;">{{ auction.trip_startDate |date:"M d, y"}}
                    </span>
                    to 
                    <span style="color: #0069D9;">{{ auction.trip_endDate |date:"M d, y" }}
                    </span>

                  </div>
 
                 <div><a href="{% url 'auction:view_auction' auction.id %}" 
                  class="btn" 
                  style="border-radius: .9rem; font-weight: 700; font-size: 1.2rem;" 
                  role="button" 
                  aria-pressed="true">🔎 </a>
                </div>
                  <!-- <div>
                    <a href="{% url 'auction:vehicle_detail' vehicle.id %}" 
                    class="btn btn-outline-primary" role="button" aria-pressed="true">View</a>
                  </div> -->
              
              </div>
              {% endfor %}
          {% endfor %}

  </div>
  <!-- USER'S VOYAGES -->
{% endfor %}

</div>
{% endfor %}

{% endblock content %}
