* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
  font-family: Helvetica , serif;
  font-weight:500;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  background-image: url(/static/sky.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
html { font-size: 90%; }

.navbar {
    padding: 1rem 5rem;
      font-family: Georgia, serif;

}

.navbar-brand {
    padding: 0.33rem .3rem;
}

.navbar a,
.navbar li {
    color: #98d0f5 !important;
    transition: all 0.3s;
    }

.navbar a:hover,
.navbar li:hover {
    color:  #98d0f5 !important;
    background-color: #98d0f541;
    border-radius: 5px;}


.navbar-toggler-icon {
    background-image: url(/static/navbartoggler.png);
}


.main-page-container {
    display: grid;
    grid-template-columns: 3fr 5fr;
}

.mapid{
    height: 93vh; 
    width: 100%;
    background-color: blue; 
}


.dashboard {
    /* background-color: red; */
    padding: 0 1rem;
    height: 89vh;
}
.filters-section{
    background-color: rgba(19, 24, 116, 0.774);
    padding: 0.4rem 0.9rem;
    margin: 0.2rem 0 0 0 ;
    color: white;
    border-radius: 5px;
}


.add-new-auction {

    margin: 1rem 3rem ;
}

.form-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.double {
  grid-column: 1/3 ;
  width: 50%;
  margin: 0.3rem auto 0 auto;
}

.form-label-and-input{
    display: grid;
    grid-template-columns: 1fr 3fr;
    

}

.form-label {
    align-self: center;
}


/*--------------------------------------*/
/* -------------- SLIDER --------------- */
/*--------------------------------------*/

.slider {
    /* max-width: 100rem; */
    height: 28rem;
    margin: 01rem auto;
    position: relative;
    overflow: hidden;
  }
  
  .mybids-slider {
    margin-top: 3rem;
    height: 35rem;
    /* background-color: tomato; */
  }
  
  .slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 15rem;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
    transition-timing-function: ease;
  }

.transparent-item {
  opacity: 0.5;
  transition: all 1s;
  transition-timing-function: ease;
  z-index: 11;
}

.non-transparent-item {
  z-index: 20;
}

  .slide-card{
      width: 21rem;
      margin: 0 auto;
  }
  
  .card-img-top{
    object-fit: cover;
  }


  .slider__btn {
    position: absolute;
    top: 40%;
    z-index: 150;
    border: none;
    /* background: rgba(14, 21, 107, 0.7); */
    font-family: inherit;
    color: rgb(239, 236, 255);
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    cursor: pointer;
  }

  .slider__btn.change{
    border: none;
  }
  
  .slider__btn--left {
    left: 11%;
    transform: translate(-50%, -50%);
  }
  
  .slider__btn--right {
    right: 11%;
    transform: translate(50%, -50%);
  }

  .slider__btn--left-vehicle {
    left: 5%;
    transform: translate(-50%, -50%);
  }
  
  .slider__btn--right-vehicle {
    right: 5%;
    transform: translate(50%, -50%);
  }

  

  .dots {
    position: absolute;
    bottom: 0%;
    left: 40%;
    transform: translateX(10%);
    display: flex;
  }
  
  .dots__dot {
    border: none;
    background-color: #3836a3;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
  
    /* Only necessary when overlying images */
    /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
  }
  
  .dots__dot:last-child {
    margin: 0;
  }
  
  .dots__dot--active {
    /* background-color: #fff; */
    background-color: #200569;
    opacity: 1;
  }


  .leaflet-popup .leaflet-popup-content-wrapper{
      border: 2px solid rgb(0, 26, 255);
      /* background-color:rgb(55, 55, 226); */
      background-image: linear-gradient(45deg, rgba(55, 55, 226, 0.445), rgba(55, 55, 226, 0.521)), url(/static/waves.jpg);
      background-position: center;
      background-size: cover;  }

  .leaflet-popup .leaflet-popup-content {
    font-size: 1.1rem;
    color: white;
  }
/* 
  .leaflet-popup-content-wrapper {
    border-left: 5px solid red;
  } */

  .leaflet-popup-tip {
    background-color:blue;
  }


/****************************************************/
/*************** AUCTION DETAIL PAGE ****************/
/****************************************************/

.auction-detail-page {
  display: grid;
  height: 93.5vh;
  grid-template-columns: 1.2fr 1.5fr 2fr;

}

.auction-detail-page-left-column {
  display: grid;
  grid-template-rows: 5fr 1fr;
  background-color: rgba(19, 24, 116, 0.85);  
}

.auction-detail-page-details-section{
  height: 75vh;
  overflow: hidden;
}

.auction-bids-box {
  margin-top: 1rem;
  height: 60vh;
  overflow: scroll;
}

.auction-bids-box::-webkit-scrollbar {
  display: none;

}
.auction-detail-page-details-section::-webkit-scrollbar {
  display: none;
} 


.auction-detail-page-middle-column{
  display: grid;
  grid-template-rows: 1fr 1fr;
  overflow: scroll;
  height: 93vh;
}

.auction-detail-page-middle-column::-webkit-scrollbar {
  display: none;
  } 

.auction-detail-page-vehicle-image-section{
  height: 45vh;
  margin: 1rem;
  border-radius: 0.2rem;
}

.auction-detail-page-vehicle-image{
  display: block;
  width: 100%;
  height: 100%; 
  object-fit: cover;
  border-radius: 0.2rem;
}


.auction-detail-page-text{
  padding: 1rem;
  margin:1rem;
  background-color: rgba(19, 24, 116, 0.85);  
  border-radius: 0.2rem;
  font-weight: 600;
  color: #200569;
  overflow: scroll;
}

.auction-detail-text-content{
  background-color: white;
  padding: 1rem;
  overflow: scroll;
  height: 100%;
  border-radius: 0.2rem;

}

.auction-detail-text-content::-webkit-scrollbar {
  display: none;
} 

.auction-detail-page-text::-webkit-scrollbar {
  display: none;
} 



.auction-bid-buttons-section{
  /* grid-column: 1 / 2; */
  align-self: center;
  padding: 2rem 7rem;
  height: 10rem;
}

.map-section-detail-page

.mapid2{
  height: 93vh; 
  /* background-color: blue;  */
  width: 100%;
}

.new-bid-button,
.change-bid-button {
  margin: 0.2rem auto;
  width: 70%;
  
}



.map-section {
  grid-row: 3 / 5;
  border: 5px solid blue;
  overflow: hidden;
  margin: 0 1rem 2rem 1rem; 

}



.list-group-item.auction-card1{
  width: 90%;
  font-weight: 600;
  line-height: 1.5rem;
  justify-self: center;
  justify-items: center;
  justify-self: center;
  margin-top: 1rem;

}

.auction-card {
  display: grid;
  grid-template-columns: 1.1fr 3fr;
  line-height: 2rem;
  margin-top: 1rem;

}


.list-group-item.auction-card1 div{
  margin: 0.1rem 0.3rem;
}

.bid-profile-image{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: transform .5s;
  object-fit: cover;
}

.bid-profile-image:hover{
  transform: scale(1.1)
}

.single-bid{
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.list-group-item{
  padding: 0.5rem 0 0.5rem 0.5rem;
  width: 90%;
  margin: 0.1rem auto;
}

.bid-amount,
.bid-created-date {
  align-self: center;
  margin: 0 1rem;}

/* ///////////////// END OF AUCTION VIEW PAGE  //////////////////////// */

.mapid3{
  height: 93.5vh; 
  background-color: blue;
  overflow:hidden; 

}

.auction-form-page{
  display: grid;
  grid-template-columns: 1fr 1fr;

}


.auction-form-content-section {
  /* margin-top: 1rem; */
  height: 89vh;
  padding:1rem 1rem 0 1rem ;
  background-color: rgba(35, 19, 107, 0.438);  
  margin: 1rem 4rem  ;
}

.auction-form-field{
  display: grid;
  grid-template-columns: 1.7fr 5fr;
  background-color: rgba(35, 19, 107, 0.438);  
  padding: 0.3rem;
  color: white;
}


.form-group {
  margin-bottom: 0.7rem;
}

.create-auction-button{
  margin-left: 0 auto;
}

.strong-text1 {
  color: rgb(168, 27, 27) important!;
}


.vehicle-form-content-section{
  margin: 2rem auto;
  width: 60%;
  color: white;    
  background-color:  rgba(35, 19, 107, 0.438);  
  padding:2rem;
  
}

.users-vehicles {
 
  background-color:  rgba(35, 19, 107, 0.438);  
  padding: 0.4rem 0.9rem;
  margin: 0.2rem 0 0 0 ;
  color: white;
  border-radius: 5px;
}

.users-vehicles a {
  margin: 0.2rem;
}

.btn-group-sm>.btn, .btn-sm {
  padding: 0 ;
}

.hidden {
  display: none;
}

.profile-update-form{

  background-color:  rgba(35, 19, 107, 0.438); 
  margin-top: 2rem; 
  padding: 2rem;
}

.vehicle-profile-page{
  margin:3rem;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}

.vehicle-information-container{
  background-color:  rgba(35, 19, 107, 0.438);  
  padding: 2rem;
  border-radius: .5rem;

}


.vehicle-image-container{
  background-color:  rgba(35, 19, 107, 0.438);  
  padding: 2rem;
  /* background-color: teal; */
  justify-self: left;
  margin-left: 2rem;
}

.vehicle_image {
  height: 24rem;
}

.vehicle-info-row{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  border-radius: .3rem;

}

.vehicle-info-row div {
  background-color: rgba(107, 79, 230, 0.582);
  margin: 0.6rem 0;
  padding: 0.4rem;
  font-size: 1.2rem;
  color:white;
  border-radius: .3rem;

  /* text-transform: uppercase; */
}

/* .buttons-container{
  justify-self: end;
} */

.mainpage-button{
  justify-self: end;
  margin: 0.5rem 2rem 0 2rem; 
}

.myvehicle_slide{
  margin: 0 5rem 3rem 5rem;
}

.vehicle_slider{
  height: 37rem;
}

.mapid_itinerary{
  height: 93vh;
}


.itinerary-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.itinerary-dashboard {
  background-color: rgba(19, 24, 116, 0.774);  
  display: grid;
  height: 93vh;
  grid-template-rows: 6fr 1fr;
}

.itinerary-input-row-container{
  background-color: rgba(255, 255, 255, 0.733);
  margin: 1rem 1rem 0 1rem;
}
.itinerary-waypoints-container{
  /* background-color: turquoise; */
  margin: 1rem 1rem 0 1rem;
  /* height: 60vh; */
  overflow: scroll;
  /* overflow: hidden; */

}
.itinerary-waypoints-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.itinerary-waypoints-container {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.itinerary-buttons-container{
  /* background-color: teal; */
  margin: 1rem 1rem 0 1rem;

}

.waypoint_item {
  background-color: rgba(255, 255, 255, 0.9);
  display: grid;
  grid-template-columns: 4fr 4fr 1fr;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
	cursor: pointer;

}

.waypoint_item:hover {
  transform: scale(1.01);


}


.waypoint_item div {
  padding:  0.5rem 1.5rem;
  margin: 0.3rem;
  background-color: rgba(255, 255, 255);
  border-radius: 0.5rem;
  font-weight: 600;
  align-self: center;
  align-content: center;
}

.waypoint_item div:nth-child(3n) {

  background-color: transparent;
}

.delete-icon {
  height: 1.8rem;
  transition: all .2s;
}

.delete-icon:hover {
  transform: scale(1.15);

}