{% extends "./base.html" %}
{% load crispy_forms_tags %}


{% block content %}


<div class="auction-form-page">
    <div class="auction-form-content-section" >
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}

                   

            </fieldset>
            <div class="form-group" >
                <button class="btn btn-primary" type="submit">Create Auction</button>
            </div>
        </form>
    </div>

    <div class="map-section-auction-form-page" >
        <div class="mapid3" id="mapid3" data-latitude="" data-longitude=""></div>
    </div>
</div>






{% endblock content %}
