{% extends "./base.html" %}
{% load static %}

{% block content %}



<!-- <h5  style="color: white;">register</h5> -->
<div class="navigation-step" style="padding: 3rem; margin: 4rem;  background-color: rgba(2, 3, 32);">
    <img style="width: 100%; " src="/static/Navigation/Register.JPG" alt="">
    <div style="color:white"> Step 1: Register</div>
</div>

<!-- <h5  style="color: white;">register</h5> -->
<div class="navigation-step" style="padding: 3rem; margin: 4rem;  background-color: rgba(2, 3, 32);">
    <img style="width: 100%; " src="/static/Navigation/Profile Details.JPG" alt="">
    <div style="color:white"> Step 2: Add your profile details and social media accounts to increase your visibility</div>
</div>

<!-- <h5  style="color: white;">register</h5> -->
<div class="navigation-step" style="padding: 3rem; margin: 4rem;  background-color: rgba(2, 3, 32);">
    <img style="width: 100%; " src="/static/Navigation/Mainpage.JPG" alt="">
    <div style="color:white"> 
        Step 3: On the mainpage, you can view upcoming voyages.  <br>
        You can use the filter to specify trip dates, Vacancy and vehicle type.
    </div>
    </div>

<!-- <h5  style="color: white;">register</h5> -->
<div class="navigation-step" style="padding: 3rem; margin: 4rem;  background-color: rgba(2, 3, 32);">
    <img style="width: 100%; " src="/static/Navigation/My Vehicles Page.JPG" alt="">
    <div style="color:white"> Step 4: If you want to create Voyages, you need to register your vehicle(s).</div>
</div>

<!-- <h5  style="color: white;">register</h5> -->
<div class="navigation-step" style="padding: 3rem; margin: 4rem;  background-color: rgba(2, 3, 32);">
    <img style="width: 100%; " src="/static/Navigation/Create Voyage.JPG" alt="">
    <div style="color:white"> 
        Step 5: After registering your vehicle, you can create and announce your Voyages. <br><br>
        You need to specify the following: <br>
        &nbsp;&nbsp;&nbsp;&rArr;	 Vacancy: how many people are you willing to host, (1)<br>
        &nbsp;&nbsp;&nbsp;&rArr;	 Latitude and Longitude:  The starting location for your voyage.  Can be selected by
        clicking on the map, (2)<br>
        &nbsp;&nbsp;&nbsp;&rArr;	 Trip start and end dates,(3)<br>
        &nbsp;&nbsp;&nbsp;&rArr;	 Trip details: Duration, minimum contribution, and additional information (4) <br>
        &nbsp;&nbsp;&nbsp;&rArr;	 Auction end date:  Until when people can place their bids. (5)<br>
        &nbsp;&nbsp;&nbsp;&rArr;	 Auction image: An image that describes your voyage, can be the same as your vehicle image (6)<br>
    </div>

</div>

<!-- <h5  style="color: white;">register</h5> -->
<div class="navigation-step" style="padding: 3rem; margin: 4rem;  background-color: rgba(2, 3, 32);">
    <img style="width: 100%; " src="/static/Navigation/Create Itinerary page.JPG" alt="">
    <div style="color:white"> Step 6: Create your itinerary by adding waypoints.</div>
</div>


<!-- <h5  style="color: white;">register</h5> -->
<div class="navigation-step" style="padding: 3rem; margin: 4rem;  background-color: rgba(2, 3, 32);">
    <img style="width: 100%; " src="/static/Navigation/Voyage Detail Page.JPG" alt="">
    <div style="color:white"> 
        Step 7: Others will see your voyage like this. <br>
        &nbsp;&nbsp;&nbsp;&rArr;	 They can click on your profile (1)<br>
        &nbsp;&nbsp;&nbsp;&rArr;	 Or your vehicle (2)<br>
    </div>
</div>


<!-- <h5  style="color: white;">register</h5> -->
<div class="navigation-step" style="padding: 3rem; margin: 4rem;  background-color: rgba(2, 3, 32);">
    <img style="width: 100%; " src="/static/Navigation/create bid.JPG" alt="">
    <div style="color:white"> 
        Step 8: You can place your bid with price and a private message to the host.<br>
    </div>
</div>

<div class="navigation-step" style="padding: 3rem; margin: 4rem;  background-color: rgba(2, 3, 32);">
    <img style="width: 100%; " src="/static/Navigation/Bid private message.JPG" alt="">
    <div style="color:white"> 
        Step 9: Only the host will be able to view your private message<br>
    </div>
</div>

<!-- <h5  style="color: white;">register</h5> -->
<div class="navigation-step" style="padding: 3rem; margin: 4rem;  background-color: rgba(2, 3, 32);">
    <img style="width: 100%; " src="/static/Navigation/Profile Page.JPG" alt="">
    <div style="color:white"> 
        Step 10: You can message other users on their profile pages and follow up on the messages tab in the navigation bar. <br>
    </div>
</div>




{% endblock content %}
