{% extends "auction/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!-- <div class="slider vehicle_slider all-vehicles-page"> -->

        {% for vehicle in myvehicles %}
        <!-- <div class="slide hidden myvehicle_slide" > -->
                <div class="vehicle-profile-page " >
                        <div class="vehicle-information-container" >
                                <div class="vehicle-info-row"> 
                                        <div>Name</div>
                                        <div>{{vehicle.v_name}}</div>
                                </div>
                                <div class="vehicle-info-row"> 
                                        <div>Vehicle type</div>
                                        <div>{{vehicle.vehicle_type | lower |capfirst}}</div>
                                </div>
                                <div class="vehicle-info-row"> 
                                        <div>Capacity</div>
                                        <div>{{vehicle.v_capacity}}</div>
                                </div>
                                <div class="vehicle-info-row"> 
                                        <div>Description</div>
                                        <div>{{vehicle.v_description}}</div>
                                </div>
                                <div class="vehicle-info-row"> 
                                        <div>Owner</div>
                                        <div>{{vehicle.v_owner}}</div>
                                </div>
                                {% if vehicle.v_owner == user %}
                                <a class="" href="{% url 'auction:vehicle_update' vehicle.id %}">
                                        <button class="btn btn-primary btn-block change-bid-button ">Update Vehicle</button>
                                </a> 
                                {% endif %}
                        </div>

                        <!-- VEHICLE IMAGES FROM HERE -->
                        <div class="vehicle-image-container">
                                <img class="vehicle_image" src="{{vehicle.v_image.url}}" alt="">
                        </div>
                        <!-- VEHICLE IMAGES TO HERE -->
                </div>
                <br>
        <!-- </div> -->
        {% endfor %}

<!--         
        <button class="slider__btn slider__btn--left-vehicle ">
                <img style="height: 2.5rem; transform: rotate(180deg);" src="/static/arrow.png" alt="">
        </button>
        <button class="slider__btn slider__btn--right-vehicle">
                <img style="height: 2.5rem" src="/static/arrow.png" alt="">
        </button>
    </div> -->











      <a href="{% url 'auction:vehicle_create' %}" style="margin-left: 10rem" 
      class="btn btn-success active mb-5" role="button" aria-pressed="true">Register New Vehicle </a>


{% endblock content %}
